%html
  %head
    %title MatLegend
    = stylesheet_link_tag 'style', 'jquery-ui', 'score_pane'
    = javascript_include_tag 'jquery', 'jquery-ui.min', 'application'
  %body
    #wrap
      #header
        = link_to image_tag("logo.gif", :border=>"0"), wrestlers_path
      #nav
        %ul
          %li= link_to_unless_current "Roster", wrestlers_path
          -# %li= link_to_unless_current "Bouts", bouts_path
          %li= link_to_unless_current "Reports", reports_path(4)
          %li= link_to_unless_current "Teams", teams_path
      #error
        = notice
      
      = yield
      
      #footer